 
<!DOCTYPE html>
<html lang="en">

<form>
  Enter Your Location:<br>
  <input type="text" name="Enter Your Location" value=""><br>
  <br> 
    
  <label>Do You own a car</label> 
  <br>           
          <input type = "radio"
                 name = "response"
                 id = "yes"
                 value = "yes"
                  />
          <label for = "yes">yes</label>
          <input type = "radio"
                 name = "response"
                 id = "no"
                 value = "no" />
          <label for = "no">no</label>
          
  

</form>

</html>

 
 
